*{
    scroll-behavior: smooth;
}
footer
{
    position: relative;
    padding-bottom:80px;
    background: #383838;
    padding: 40px 10vw;
    width: 100%;
    margin-top: 26px;
}

.footer-content
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo
{
    height: 160px;
}

.footer-ul-container
{
width: 45%;
display: flex;
justify-content:space-between;
}

.category
{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title
{
 grid-column: span 2;   
 text-transform: capitalize;
 color: #fff;
 font-size: 20px;
 margin-bottom: 20px;
}

.category .footer-link
{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255,255,0.75);
}

.footer-link:hover
{
    color: #fff;
}

.footer-title, .info
{
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
}

.footer-title
{
    margin-top: 80px;
    color: #fff;
}

.footer-social-container
{
margin-top: 40px;
display: flex;
justify-content: space-between;
}

.social-link
{
    color: #fff;
    margin-left:20px;
    text-transform: capitalize;
}

.social-link:nth-child(1)
{
    margin-left: 0;
}

.footer-credit
{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.2);
}
/* ------------------------------------------------------------------------ */
footer .contact { 
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3 , 10%);
    justify-content: center;
    text-align: center;
    gap: 60px 0;
}

footer .contact p{
    color: #cdcdc4;
    margin: 10px auto 20px;
}

footer .contact .contact_icon i {
    font-size: 35px;
    color: #c8c7dd8f;
    cursor: pointer;
}

footer .contact .contact_icon i:hover {
    animation-name: icon;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.up a i {
    position: fixed;
    bottom: 20px;
    right: 38px;
    color: rgb(122, 122, 197);
    font-size: 40px;
    z-index: 1;
    transition: .5s;
}

.up a i:hover {
  color: #574a70b8 ;
}

@keyframes icon {
    100% {
        transform: rotate(360deg) scale(1.3);
        color: wheat;
    }
}

    .contact .contact_icon p {
        font-size: 12px;
}

@media (max-width: 767px) {
    .contact_us {
        padding-top: 17px;
    }
    .contact_us  .contact .contact_icon i { 
        font-size: 30px;
    }
    .contact_us  .contact .contact_icon p {
        font-size: 6px;
    }
}
